* {
    transition: all 0.25s ease;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.app {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.perfil-container {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff00cc, #0072ff, #ff00cc);
    background-size: 300% 300%;
    animation: borderAnimado 4s linear infinite;
    box-shadow: 0 0 20px #00c6ff;
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00c6ff;
    display: block;
}

@keyframes borderAnimado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card:active {
    transform: scale(0.98);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    border-top: 1px solid #333;
}

.nav-bottom a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bottom a:hover {
    color: #00c6ff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

html {
    scroll-behavior: smooth;
}

.proyecto {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.proyecto:hover {
    transform: scale(1.05);
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #00c6ff;
    color: black;
    border-radius: 8px;
    text-decoration: none;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.show {
    opacity: 1;
    filter: blur(5px);
    transform: translateY(0);
    transition: all 0.6s ease;
}

.menu-toggle {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.menu a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .menu {
        position: absolute;
        top: 60px;
        right: 0px;
        background: #111;
        width: 200px;
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 10px;

    }
    .nav.active {
        display: flex;
    }
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.92);
}

button:active, a:active {
    transform: scale(0.95);
}