* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}
header {
    text-align: center;
    margin-top: 20px;
}

.cards {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.cards:hover {
    transform: translateY(-10px);
}

header, .cards {
    animation: aparecer 1s ease-in-out;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: #00c6ff;
}

footer {
    margin-top: 40px;
    padding: 20px;;
    font-size: 14px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    background: #111;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.nav-bottom a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bottom a:hover {
    color: #00c6ff;
}

.logo {
    font-size: 20px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00c6ff;
}

html {
    scroll-behavior: smooth;
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00c6ff;
}

.perfil:hover {
    transform: scale(1.1);
}

.app {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}