body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.app {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00c6ff;
}

.cards {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    left: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    background: #111;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.nav-bottom a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-bottom a:hover {
    color: #00c6ff;
}

html {
    scroll-behavior: smooth;
}